/************* Activity *************/

section#activity {
    margin-bottom: 35px;
    padding: 30px;
}

.activity-cards {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.activity-cards a  {
    width: calc(25% - 30px);
    height: 470px;
    padding-top: 0;
}

.activity-cards a .card {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 0;
}

.activity-cards a .card img {
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activity-cards a .card h3 {
    padding: 20px 19px;
    font-size: 1em;
}

.activity h2 {
    margin-bottom: 30px;
}