/************* Navigateur liens *************/
header {
    width: 100%;
    max-width: 1460px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 61px;
    padding: 30px 50px;
    height: 19px;
}

nav {
    display: flex;
    gap: 69px;
    padding-right: 50px;
}

.link-hebergements-and-populaires:hover,
.link-activity:hover {
    border-top: #0065fc 2px solid;
    color: #0065fc;
    padding-top: 12px;
}

