/************* Header *************/

header {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

.location {
    display: flex;
    align-items: center;
    max-width: 377px;
    background-color: var(--main-bg-color);
    border-radius: 15px;
}

i.fa-solid.fa-location-dot {
    width: 50px;
    text-align: center;
    padding: 0px 10px;
    color: black;
}

input#location {
    border: none;
    height: 45px;
    font-weight: 700;
    font-size: 1.1em;
    width: 70%;
    padding-left: 20px;
}
input::placeholder {
    color: black;
    opacity: 1; /* For Firefox */
}
::-webkit-input-placeholder {
    /* Chrome, Safari, Opera */
    color: black;
}
::-ms-input-placeholder {
    /* Edge */
    color: black;
}

.location button {
    font-size: 18px;
    height: 49px;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    background-color: #0065fc;
    border: 1px #0065fc solid;
    padding:0px 16px;
}

.filtre {
    display: flex;
    height: 50px;
    gap: 15px;
    flex-direction: row;
}

.filter-btn {
display: flex;
flex-direction: row;
gap: 10px;
}

.filtre button {
    display: flex;
    border: solid 1px #d9d9d9;
    padding: 4px 19px;
    border-radius: 25px;
    background-color: white;
gap: 10px;
    font-size: 1.1em;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.filtre h3 {
    font-size: 1.1em;
    align-self: center;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

i.fa-solid.fa-info {
    border: 1px #d9d9d9 solid;
    border-radius: 50%;
    padding: 7px 12px;
}

.information p {
    font-size: 1em;
}

.filtre button:hover {
    background-color: var(--filter-bg-color);
}

.glass-button {
    display: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 11px;

}

.glass-button i {
    color: white;
}

.div-glass-button{
    background-color: white;
}

/*********************Footer *******************/

footer {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: row;
    justify-content: space-between;
}

.footer-box {
    flex: 1;
    padding: 20px;
}
