/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-txt p {
    margin: 0;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.hebergements > a{
 font-size: 1.15em; 
 margin-bottom: 0 ; 
}
.hebergements h2 {
    margin: 0;
    font-size: 1.4em;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}

.hebergements-cards a {
    width: calc(34% - 30px);
}

.hebergements-cards a .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.hebergements-cards a .card img {
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards a .card .card-txt {
    flex: 1;
    display: flex;
    gap: 5px;
    padding: 1px 10px;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-txt h3 {
    font-size: 1em;
}

/****** Populaire ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
