/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1460px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    padding-top: 14px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.hebergements h2 {
    margin: 0;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}

.hebergements-cards a {
    width: calc(34% - 30px);
}

.hebergements-cards a .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards a .card img {
    height: 129px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards a .card .card-txt {
    /* flex: 1; */
    display: flex;
    gap: 8px;
    padding: 1px 10px;
    flex-direction: column;
    justify-content: space-evenly;
}

/****** Populaire ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************* Navigateur liens *************/
nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 61px;
    padding: 30px 50px;
    height: 19px;
}

.nav-links {
    display: flex;
    gap: 69px;

    padding-right: 50px;
}

.link-hebergements-and-populaires:hover,
.link-activity:hover {
    border-top: #0065fc 2px solid;
    color: #0065fc;
}

/************* Header *************/

header {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

.location {
    display: flex;
    align-items: center;
    max-width: 377px;
    background-color: var(--main-bg-color);
    border-radius: 15px;
}

i.fa-solid.fa-location-dot {
    width: 50px;
    text-align: center;
    height: auto;
    color: black;
}

input#location {
    border: none;
    width: 191px;
    height: 43px;
    font-weight: 700;
    font-size: 1.2em;

}
input::placeholder {
color: black;
opacity: 1; /* For Firefox */
}
::-webkit-input-placeholder { /* Chrome, Safari, Opera */
color: black;
}
::-ms-input-placeholder { /* Edge */
color: black;
}

.location button {
    font-size: 18px;
    width: 132px;
    height: 49px;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    background-color: #0065fc;
    border: 1px #0065fc solid;
}

.filtre {
    display: flex;
    height: 50px;
    gap: 15px;
    flex-direction: row;
}

.filtre button {
    display: flex;
    border: solid 1px #d9d9d9;
    padding: 4px 19px;
    border-radius: 25px;
    background-color: white;
    font-size: 1.1em;
    font-weight: 700;
    align-items: center;
    gap: 10px;
}

.filtre p {
    font-size: 1.1em;
    position: relative;
    bottom: 4px;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

i.fa-solid.fa-info {
    border: 1px #d9d9d9 solid;
    border-radius: 50%;
    padding: 7px 12px;
}

.information p {
    font-size: 1em;
}

.filtre button:hover {
    background-color: var(--filter-bg-color);
}

/*********************Footer *******************/

footer {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: row;
    justify-content: space-between;
}

.footer-box {
    flex: 1;
    padding: 20px;
}

/************* Activity *************/

section#activity {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 30px;
}

.activity-cards {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.activity-cards .card {
    box-sizing: border-box;
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 0;
}

.activity-cards .card img {
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activity-cards .card p {
    margin-left: 10px;
}

.activity h2 {
    margin-bottom: 30px;
}

/************* End *************/

h3 {
    margin: 0;
}

.card-txt p {
    margin: 0;
}

.glass-button {
    display: none;
}

.glass-button i {
    color: white;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title,
    .card-txt h3,
    .activity-cards .card p {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle,
    .card-txt p {
        font-size: 13px;
    }

    .activity-cards .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    header {
        padding: 0 20px;
    }

    a {
        padding-top: 0;
    }
    .nav-links {
        width: 100%;
        padding-right: 0;

        gap: 0;
        justify-content: space-around;
    }
    .nav-links a {
        padding-bottom: 15px;
        border-top: white solid 2px;
        border-bottom: var(--main-bg-color) solid 2px;
        flex: 1;
        text-align: center;
    }

    .link-hebergements-and-populaires:hover,
    .link-activity:hover {
        border-top: white 2px solid;
        color: #0065fc;
        border-bottom: #0065fc 2px solid;
    }

    .main-container {
        padding: 0;
    }
    .filtre {
        flex-wrap: wrap;
        height: 161px;
    }

    .filtre p {
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hebergements-and-populaires section:nth-child(1) {
        background-color: white;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .populaires h2 {
        margin-top: 0;
        padding-bottom: 15px;
    }
    .populaires {
        margin-top: 0;
    }
    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards .card {
        margin-top: 0;
    }

    .populaires-cards a {
        width: 100%;
    }
    .glass-button {
        display: block;
        font-size: 18px;
        height: 49px;
        width: 50px;
        color: white;
        border-radius: 15px;
        font-weight: 700;
        background-color: #0065fc;
        border: 1px #0065fc solid;
    }

    .location button {
        width: 50px;
    }
    .search-button {
        display: none;
    }
    .activity-cards {
        flex-direction: column;
    }

    .activity-cards .card {
        width: auto;
    }

    footer {
        flex-direction: column;
    }

    .footer-box {
        padding: 25px 30px;
    }

    
}
